h1{
    color: blck;
    text-align: center;
    font-family: Arial;
}
h2{
    color:black;
    text-align: left;
    font-family: Arial;
}
h3{
    color: green;
    text-align: left;
    font-family: Arial;
}
h4{
    color: gray;
    text-align: left;
    font-family: Arial;
}
h5{
    color: red;
    text-align: left;
    font-family: Arial;
}
h6{
    color: blue;
    text-align: left;
    font-family: Arial;
}