h1{
    color: green;
    font-size: 12px;
    text-align: center;
    font-family: verdana;
}

p.centralizado{
    font-size: 20px; 
    text-align: center;
    font-family: arial;
}
p.direita{
    font-size: 12px; 
    text-align: right;
    font-family: verdana;
}